
{% macro toc_loop(items) %}

    {% for item in items %}
        {% set class = loop.first ? 'first' : loop.last ? 'last' : null %}
        
        <a {% if class %}class="{{ class }} flex flex-row mt-4 hover:bg-stone-200 rounded-xl px-2 py-1"{% endif %}  href="{{ item.uri }}">
        <div class="w-6 h-6 text-center text-black bg-center rounded-full fill-current shadow-soft-2xl stroke-none bg-gradient-to-tl from-green-600 to-lime-400">
          <i class="relative text-white -top-1 text-3xs">-</i>
        </div>
            <span class="self-center ml-2">{{ item.label | raw }}</span>
        </a>
        {% if item.children|length > 0 %}
                
                    {{ _self.toc_loop(item.children) }}
                
            {% endif %}
    {% endfor %}
{% endmacro %}

{% if active or toc_config_var('active') %}
<div class="w-full max-w-full px-3 mb-6 page-toc lg:w-4/12 lg:mb-0 shrink-0">
  <div class="relative flex flex-col min-w-0 break-words border-0 bg-clip-border">
    
    {% set table_of_contents = toc_items(page.content) %}
    {% if table_of_contents is not empty %}
        <div class="flex-auto pt-0 text-center lg:text-left">
      <div class="flex flex-col p-2 item-center">
            {{ _self.toc_loop(table_of_contents.children) }}
        </div>
        </div>
    {% endif %}
    </div>
</div>
{% endif %}