<!DOCTYPE html>
<html class="h-full min-w-full"
    lang="{{ (grav.language.getActive ? : grav.config.site.default_lang)|e }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>
                {% if header.title %}
                    {{ header.title|e }} |
                {% endif %}t
            </title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport"
                content="width=device-width, initial-scale=1" />
            {% include 'partials/metadata.html.twig' %}

            <link rel="icon"
                type="image/svg"
                href="{{ url('theme://images/logo.svg')|e }}" />
            <link rel="canonical" href="{{ page.canonical(true)|e }}" />
        {% endblock head %}

        {% block stylesheets %}
            {% style priority : 20 with { media: 'screen' } %}[x-cloak] {
            display: none !important; }{% endstyle %}
            {% do assets.addCss('theme://css/app.css', 100) %}
        {% endblock stylesheets %}

        {% block javascripts %}
            {% do assets.addJs('theme://js/app.js', 98) %}
            {% do assets.addJs('theme://js/vendor.js', 100) %}
            {% do assets.addJs('theme://js/manifest.js', 99) %}
            {% do assets.addJs(
                'theme://js/app-defer.js',
                { loading: 'defer' }
            ) %}
        {% endblock javascripts %}

        {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
        {% endblock %}
    </head>
    <body x-data="{ mobileMenuIsOpen: false, isFooterVisible: false }" x-init="window.addEventListener('scroll', () => {
    const footer = document.querySelector('.footer');
    const footerRect = footer.getBoundingClientRect();
    isFooterVisible = footerRect.top <= window.innerHeight;
  })"
  :class="mobileMenuIsOpen ? 'overflow-hidden' : ' '">
        {% block header %}
            {% include 'partials/layout/navbar.html.twig' %}
        {% endblock header %}

        {% block body %}
        {# {% include 'partials/layout/splash.html.twig' %} #}
            <main id="main-content" class="pt-20 antialiased min-h-[80vh]">
            
                {# <section class=" flex flex-col items-center justify-between max-w-screen-xl px-4 mx-auto"> #}
                    {% block content %}
                    {% endblock content %}
                {# </section> #}
            
            </main>
        {% endblock body %}

        {% block footer %}
            {% include 'partials/layout/footer.html.twig' %}
        {% endblock footer %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock bottom %}
    </body>
</html>
