<!DOCTYPE html>
<html class="h-full" lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/app.css', 100) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/app.js', 98) %}
    {% do assets.addJs('theme://js/vendor.js', 100) %}
    {% do assets.addJs('theme://js/manifest.js', 99) %}
    {% do assets.addJs('theme://js/app-defer.js', { loading: 'defer' }) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body class="h-full {{ page.header.body_classes|e }} bg-stone-50 text-stone-900">

{% block header %}

    {% include 'partials/layout/navbar.html.twig' %}

{% endblock %}

{% block body %}
    <section class="pt-16">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'partials/layout/footer.html.twig' %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
