{# {/* prettier-ignore-start */} #}
{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content|raw }}
	{# {/* prettier-ignore-end */} #}
	<div class="container w-full mx-auto mb-10">
		<div class="flex justify-between mb-4">
			<div>
				<h2 class="text-lg font-bold">
					Our
					{{ "PNYA.BLOG.THEME.POSTS"|t|e }}
				</h2>
				<p class="text-sm text-gray-600">{{ config.theme.post.subtitle.text }}</p>
			</div>
			{% if config.theme.post.list.style == 'both' %}
				<div class="flex">
					<a href="{{ (uri.query('view') == 'grid' ? '?view=list' : '?view=grid') }}" class="inline-flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium tracking-wide text-center transition rounded-md cursor-pointer bg-primary whitespace-nowrap text-neutral-100 hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed" aria-describedby="tooltipExample">
						{% if uri.query('view') == 'list' %}
						<svg class="w-6 h-6 fill-neutral-100" role="img" aria-labelledby="grid-mode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 80c0-26.5-21.5-48-48-48H80C53.5 32 32 53.5 32 80v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V80zm0 256c0-26.5-21.5-48-48-48H80c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V336zM288 80v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H336c-26.5 0-48 21.5-48 48zM480 336c0-26.5-21.5-48-48-48H336c-26.5 0-48 21.5-48 48v96c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48V336z"/></svg>
						{% else %}
					<svg class="w-6 h-6 fill-neutral-100" role="img" aria-labelledby="grid-mode" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 144a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM64 464a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48-208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"/></svg>
						{% endif %}
					</a>
					<div id="tooltipExample" class="absolute z-10 px-2 py-1 text-sm text-center text-white transition-all ease-out -translate-x-1/2 rounded opacity-0 -top-9 left-1/2 whitespace-nowrap bg-neutral-950 peer-hover:opacity-100 peer-focus:opacity-100 dark:bg-white dark:text-neutral-900" role="tooltip">Tooltip top</div>
				</div>
			{% endif %}
		</div>


		{% if uri.query('view') %}
			{% set view_mode = uri.query('view') %}
		{% else %}
			{% set view_mode = config.theme.post.list.style %}
		{% endif %}
		{% set options = { items: {'@page.children': '/blog'}, 'limit': 6, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': true } %}
		{% set my_collection = page.collection(options) %}
		<ul id="postList" class="grid gap-6 {% if view_mode == 'grid' %}grid-cols-2 md:grid-cols-3{% else %}grid-cols-1{% endif %}">
			{% for post in my_collection %}
				<li
					class="relative overflow-hidden rounded-lg shadow-lg post-item">
					<!-- Card Link -->
					<a
						href="{{ post.url }}" class="block rounded-lg border-neutral-400 dark:border-zinc-700">
						<!-- Image Section -->

						<figure class="relative overflow-hidden rounded-lg">
							<img class="object-cover w-full h-48" src="{% if post.media.images is not empty %}{{ post.media.images|first.url }} {% else %} data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22600%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20600%20400%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20%20%20%20%20%20%20%23holder%20text%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20fill%3A%20%23000000%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-family%3A%20sans-serif%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-size%3A%2040px%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-weight%3A%20800%3B%0A%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Cg%20id%3D%22holder%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23b6a6ed%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%3Ctext%20text-anchor%3D%22middle%22%20x%3D%2250%25%22%20y%3D%2250%25%22%20dy%3D%22.3em%22%3E{{ post.title }}%3C%2Ftext%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fsvg%3E {% endif %}" alt="{{ post.title }}"/>
							{% if view_mode == 'grid' %}
								<!-- Overlay content for grid mode -->
								<div class="absolute bottom-0 left-0 w-full p-4 text-white rounded-lg bg-gradient-to-t from-black to-transparent">
									<div class="flex justify-between">
										<div class="text-xs font-light">
											<span class="align-middle h-4 w-4 icon-[ph--notebook-bold]"></span>
											{% if config.plugins.readingtime.enabled %}
												<span>
													{{ post.content|readingtime({'minutes_label': 'mins', 'minute_label': 'min', 'seconds_label': 'secs', 'second_label': 'sec'}) }}
												</span>
											{% endif %}
											<time datetime="{{ page.date|date('c') }}" class="block">
												<span class="align-middle icon-[ph--calendar-dots-bold] h-4 w-4"></span>
												{{ post.header.date|date('d') }}
												{{ 'PNYA.BLOG.THEME.MONTHS_OF_THE_YEAR_SHORT'|ta((post.header.date|date('n')) - 1) }}.
												{{ post.header.date|date('Y') }}
											</time>
										</div>
									</div>
									<h2 class="mt-2 text-lg font-bold">{{ post.title }}</h2>
								</div>
							{% endif %}
						</figure>


						<!-- Content Section (for list view) -->
						{% if view_mode != 'grid' %}
							<div class="">
								<div class="text-xs font-light text-left">
									<span class="align-middle h-4 w-4 icon-[ph--notebook-bold]"></span>
									{% if config.plugins.readingtime.enabled %}
										<span>
											{{ post.content|readingtime({'minutes_label': 'mins', 'minute_label': 'min', 'seconds_label': 'secs', 'second_label': 'sec'}) }}
										</span>
									{% endif %}
									<span class="align-middle icon-[ph--calendar-dots-bold] h-4 w-4"></span>
									<time datetime="{{ page.date|date('c') }}">
										{{ post.header.date|date('d') }}
										{{ 'PNYA.BLOG.THEME.MONTHS_OF_THE_YEAR_SHORT'|ta((post.header.date|date('n')) - 1) }}.
										{{ post.header.date|date('Y') }}
									</time>
								</div>
								<div class="p-3">
								<h2 class="text-xl font-bold">{{ post.title }}</h2>
								<p class="line-clamp-3">{{ post.content|striptags|slice(0, 500) ~ '...' }}</p>
								</div>
							</div>
						{% endif %}
					</a>
					<!-- Tag Cloud (Common for both list and grid view) -->
					<div class="absolute top-0 left-0 p-1 m-2">
						{% include 'components/tags.html.twig' %}
					</div>
				</li>
			{% endfor %}
		</ul>


		{# Pagination if enabled #}
		{% if config.plugins.pagination.enabled and page.collection.params.pagination %}
			{% include 'components/pagination.html.twig' with {
        base_url: page.url,
        pagination: collection.params.pagination
      } %}
		{% endif %}
	</div>


{% endblock %}
